* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.6rem;
}

.card {
  background-color: hsl(228deg, 56%, 26%);
  width: 85%;
  border-radius: 1rem;
}

.logo-card {
  padding: 4rem 6rem 4rem 4rem;
  border-top-right-radius: 10rem;
}

.icons {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap: 1.5rem;
}
.icons .icon-container {
  background-color: hsl(229deg, 57%, 11%);
  padding: 1.25rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-card {
  padding: 3rem 3rem 5rem 3rem;
  position: relative;
}

.text {
  color: hsl(243deg, 100%, 93%);
  width: 100%;
  text-align: center;
  font-weight: 400;
}

.progress-bar {
  background-color: hsl(229deg, 57%, 11%);
  width: 100%;
  padding: 2px;
  border-radius: 1rem;
  margin: 1.5rem 0 1rem 0;
}
.progress-bar .progress-bar-color {
  width: 75%;
  background-image: linear-gradient(90deg, hsl(6deg, 100%, 80%), hsl(335deg, 100%, 65%));
  display: flex;
  justify-content: flex-end;
  border-radius: 1rem;
  padding: 2px;
}
.progress-bar .progress-bar-color .ball {
  background-color: hsl(243deg, 100%, 93%);
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}

.min-max-storage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.min-max-storage .storage {
  color: hsl(243deg, 100%, 93%);
  font-size: 1.5rem;
  font-weight: 700;
}

.floating-msg-container {
  position: absolute;
  left: 50%;
  top: 78%;
}
.floating-msg-container .msg {
  background-color: white;
  padding: 1.25rem 2.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -50%;
}
.floating-msg-container .msg strong {
  font-size: 4rem;
}
.floating-msg-container .msg span {
  color: hsl(229deg, 7%, 55%);
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-left: 0.8rem;
}
.floating-msg-container .triangle {
  display: none;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-size: contain;
    background-position-y: bottom;
    background-color: hsl(229deg, 57%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    flex-direction: row;
    align-items: flex-end;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 64%;
    gap: 3rem;
  }

  .logo-card {
    width: 40%;
  }

  .details-card {
    width: 60%;
    padding: 5rem 5rem 4rem 5rem;
  }

  .text {
    text-align: left;
  }

  .floating-msg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 3rem;
    top: -30%;
  }
  .floating-msg-container .msg {
    left: 0px;
    border-bottom-right-radius: 0rem;
  }
  .floating-msg-container .triangle {
    display: block;
    width: 0px;
    height: 0px;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}